# --- File e cartelle Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.env/
.venv/

# --- Notebook Jupyter ---
.ipynb_checkpoints/

# --- File temporanei / editor ---
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# --- Output di simulazioni / grafici ---
#external_test/
test_dataset_100_64/
test/
gifs/
model/
pngs/
output/
figures/
snapshots/
*.jpg
*.jpeg
*.mp4
*.csv
*.dat
*.npy
*.npz

# --- Log vari ---
*.log
logs/

# --- Cartella phase-field ---
phase_field/
